@charset "UTF-8";
* {
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(127, 255, 212, 0.689);
}
header {
    text-align: center;
}


main {
    border-radius: 2px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.336);
    width: 300px;
    padding: 20px;

}

.moeda1 {
    margin-top: 10px;
}

.moeda2 {
    margin-top: 10px;
}

.button {
    margin-top: 15px;
}

footer {
    margin-top: 300px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
}